<div class="contact-container">
  <h1 class="contact-heading">Contact</h1>
  <form action="https://api.web3forms.com/submit" method="POST" class="contact-form">
    <input type="hidden" name="access_key" value="25c7f386-785f-4ed5-a412-9c027cf8b864">
    <p>Name: 
      <input type="text" name="name" required placeholder="Enter Your Name" class="input-field">
    </p>
    <p>Email:  
      <input type="email" name="email" required placeholder="Enter Your Email id" class="input-field">
    </p>
    <p>Message: 
      <textarea name="message" required placeholder="Any suggestions" rows="4" class="input-field"></textarea>
    </p>
    <input type="checkbox" name="botcheck" class="hidden-checkbox">
    <button type="submit" class="submit-button">Submit</button>
  </form>
</div>